.btn-all{
    padding: 5px 25px;
    border-radius: 33px;
    border: none;
    background-color: #21B573;
    color: #fff;
}
.section-navber img {
    height: 80px;
}
.section-navber {
    background: #F0FFF0;
    width: 1440px !important;
}
.hero-area {
    background: #F0FFF0;
    padding-top: 30px;
}
.card img {
    height: 85px;
    width: 66px;
}
.card {
    height: 270px;
    width: 270px;
    border: none;
    border-radius: 8px;
    margin-top: 100px;
    padding-top: 50px;
}
.card:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}